* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, arial;
}

html {
  --orange: #f2994a;
  --white: #ffffff;
  --black: #222222;
  --gray: #bbbbbb;
}

/*     Etiquetas genericas      */

h1 {
  color: white;
  font-size: 3rem;
  margin: 1rem 1.5rem;
}

img {
  width: 100%;
}

body {
  background-color: var(--orange);
}

body > main > section {
  padding: 1rem;
}

.boton {
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

/*     Header     */

header#principal {
  background-image: url(/img/coru.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 15rem;
  margin-bottom: 2rem;
}

header#principal h1 {
  margin: 0;
}

header#principal nav {
  flex-grow: 1;
}

header#principal nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header#principal nav ul li {
  margin: 0 0.5rem;
}

header#principal nav ul li a {
  color: var(--black);
  font-weight: 900;
  text-decoration: none;
}

header#principal > a {
  background: var(--white);
  color: var(--black);
  border-radius: 7%;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

/*  Section catalogo  */
section#intro {
  padding: 0.5rem 3rem;
}

section#opciones ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section#opciones ul li article {
  background: var(--black);
  color: var(--white);
  margin-bottom: 1.5rem;
}

section#opciones ul li article header img {
  height: 20rem;
  object-fit: cover;
}

section#opciones ul li article header h1 {
  text-align: center;
  margin: 1.5rem 0;
}
section#opciones ul li article section p {
  padding: 1rem;
}

section#opciones ul li article section a {
  background: var(--gray);
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

/* Section formulario */

section#formulario {
  background: var(--white);
}

section#formulario h1 {
  color: var(--orange);
  margin-bottom: 2rem;
}

section#formulario form fieldset {
  padding: 0;
  border: 0;
}

section#formulario form input:not([type="checkbox"]),
section#formulario form select,
section#formulario form textarea {
  border: 2px solid var(--black);
  background: var(--orange);
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
}

section#formulario form label {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

section#formulario form fieldset:last-of-type label {
  display: initial;
}

section#formulario form fieldset:last-of-type input {
  vertical-align: middle;
}

/* Version Tablet + PC */

@media (min-width: 700px) {
  header#principal {
    flex-direction: row;
    align-items: baseline;
    min-height: 30rem;
  }

  header#principal > * {
    flex-basis: calc(100% / 3);
  }

  header#princopal nav {
    order: -1;
    flex-grow: 0;
  }

  header#principal h1 {
    text-align: center;
  }

  header#principal div {
    text-align: right;
  }

  section#intro p {
    columns: 2;
  }

  section#opciones ul {
    display: flex;
  }

  section#opciones ul li {
    margin: 0 0.5rem;
  }
  section#opciones ul li article header img {
    height: 15rem;
  }

  section#comprar form fieldset {
    display: flex;
    flex-wrap: wrap;
  }

  section#comprar form fieldset {
    flex-basis: 50%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
  }

  section#comprar form fieldset.ancho {
    flex-basis: 100%;
  }
}
