header {
  background-image: url(/imagenes/vaca.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 800px;
  max-width: 1500px;
  min-width: 100px;
  height: 500px;
  max-height: 800px;
  min-height: 100px;
}

#titulo {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: 900;
  list-style: none;
}

#sobrenos {
  color: white;
  size: 30px;
  text-align: center;
}

#menu {
  color: white;
}

#boton {
  color: white;
  background: black;
}
